/* 
0.0 BACK-GROUND
1.0 HEADER
*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
    /* 0.0 BACK-GROUND */
.back-ground{
    width: 100vw;
    height: 100vh;
    background-color: #212121;
}
    /* END BACK-GROUND */

    /* 1.0 HEADER */
.menu{
    width: 100vw;
    height: 40px;
    background-color: #000000;
    align-items: center;
}
.menu-flex{
    display: flex;
    width: 100vw;
    height: 40px;
    flex-direction: row;
    justify-content: center;

}
.menu .menu-flex ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}
.menu .menu-flex ul li{
    display: flex;
    width: 18vh;
    justify-content: center;
}

.menu .menu-flex ul a{
    text-decoration: none;
    color: white;
}
.menu .menu-flex ul a:focus,.menu .menu-flex ul a:hover,.menu .menu-flex ul a:active{
    color: #e9c664;
}
@media (min-width:700px){
    .menu .menu-flex ul{
        display: flex;
        justify-content: center;
        margin: 0px;
    }
    .menu .menu-flex ul a{
        height: 40px;
        display: flex;
        align-items: center;
        margin: 0px 100px 0px 100px;
    }
}

    /* END HEADER */

.main{
    cursor: default;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 100px 0px 0px 25px;
    text-align: left;
    
}
.main .titulo{
    width: 70vw;
    font-size: 13px;
    text-transform: uppercase;
    text-align: left;
    color:#e9c664 ;
    font-weight: normal;
}
.main .area-texto{
    width: 80vw;
    font-size: 9px;
    text-transform: uppercase;
    margin-top: 30px;
    
}
@media (min-width:700px){
    .main{
        display: flex;
        flex-direction: row;
        margin: 100px 0px 0px 90px;
        text-align: left;
    }
    .main .titulo{
        width: 60vh;
        font-size: 25px;
    }
    .main .area-texto{
        width: 100vh;
        margin: 0px 90px;
        font-size: 15px;
    }
}